{{#each filteredBanners as |fb|}}
  <div class="wrap">
    <div
      class="alert alert-custom"
      style="background-color: {{fb.background}}; color: {{fb.text_color}}"
    >
      {{html-safe fb.contents}}
    </div>
  </div>
{{/each}}