{{#each filteredBanners as |fb|}}
  <div class="wrap">
    <div
      class="alert alert-custom"
      style={{html-safe (concat (concat "background-color:" fb.background ";") (concat "color: " fb.text_color ";"))}}
    >
      {{html-safe fb.contents}}
    </div>
  </div>
{{/each}}
